@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: orange;
  border-bottom: 1px solid orange;
}

.slide-enter {
  opacity: 0;
  transform: translateY(-100%);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.slide-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.slide-exit {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.slide-exit-active {
  opacity: 0;
  transform: translateY(-100%);
}
